/*
Theme Name: Twenty Ten
Theme URI: http://wordpress.org/
Description: The 2010 theme for WordPress is stylish, customizable, simple, and readable -- make it yours with a custom menu, header image, and background. Twenty Ten supports six widgetized areas (two in the sidebar, four in the footer) and featured images (thumbnails for gallery posts and custom header images for posts and pages). It includes stylesheets for print and the admin Visual Editor, special styles for posts in the "Asides" and "Gallery" categories, and has an optional one-column page template that removes the sidebar.
Author: the WordPress team
Version: 1.1
Tags: black, blue, white, two-columns, fixed-width, custom-header, custom-background, threaded-comments, sticky-post, translation-ready, microformats, rtl-language-support, editor-style
*/
/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */
/*
 * Web Fonts from fontspring.com
 *
 * All OpenType features and all extended glyphs have been removed.
 * Fully installable fonts can be purchased at http://www.fontspring.com
 *
 * The fonts included in this stylesheet are subject to the End User License you purchased
 * from Fontspring. The fonts are protected under domestic and international trademark and 
 * copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
 * distributing this font software.
 *
 * (c) 2010-2011 Fontspring
 *
 *
 *
 *
 * The fonts included are copyrighted by the vendor listed below.
 *
 * Vendor:      exljbris
 * License URL: http://www.fontspring.com/fflicense/exljbris
 *
 *
 */
 
 
 @font-face {
    font-family: 'MuseoSans500Italic';
    src: url('/interface/fonts/museosans_500italic_macroman/MuseoSans_500_Italic-webfont.eot');
    src: url('/interface/fonts/museosans_500italic_macroman/MuseoSans_500_Italic-webfont.eot?iefix') format('eot'),
         url('/interface/fonts/museosans_500italic_macroman/MuseoSans_500_Italic-webfont.woff') format('woff'),
         url('/interface/fonts/museosans_500italic_macroman/MuseoSans_500_Italic-webfont.ttf') format('truetype'),
         url('/interface/fonts/museosans_500italic_macroman/MuseoSans_500_Italic-webfont.svg#webfontprFOYbU7') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MuseoSans500';
    src: url('/interface/fonts/museosans_500_macroman/MuseoSans_500-webfont.eot');
    src: url('/interface/fonts/museosans_500_macroman/MuseoSans_500-webfont.eot?iefix') format('eot'),
         url('/interface/fonts/museosans_500_macroman/MuseoSans_500-webfont.woff') format('woff'),
         url('/interface/fonts/museosans_500_macroman/MuseoSans_500-webfont.ttf') format('truetype'),
         url('/interface/fonts/museosans_500_macroman/MuseoSans_500-webfont.svg#webfontkQkWxTED') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* General Definitions ------------------------------------ */
body {
	line-height:1;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height:14.5pt;
	color:#acabac;
	background-image: url(/interface/images/hh11_backgrnd_grad.jpg);
	background-repeat:repeat-x;
	background-position: top left;
	background-color:#242022;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(255,255,255,.10);
    border: 1px solid rgba(255,255,255,.25);
}

::-webkit-scrollbar-track-piece,::-webkit-scrollbar-track{
	background-color: rgba(0,0,0,.35);
}

h1, h3, h4, h5, h6 {
	font-weight: normal;
	font-size:2em;
	line-height:29pt;
	font-family: MuseoSans500;
	color:#f97626;
	margin:0px;
}
h2{
	font-family: MuseoSans500;
	font-size:1.3em;
	margin:0px 0px 0px 0px !important; 
	padding:0px !important;
	font-weight: normal;
	color:#f97626;
}
sup{
position:relative;
font-size:9px;
}
/* For testing Javascript Only ------------------------------------ */
#test{
	position:fixed;
	top:10px;
	left:10px;
	display:block;
	font-size:8px;
	line-height:8pt;
	width:300px;
	z-index:100;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a img {
	border: none;
}
a{
	color:#f97626 !important;
	text-decoration:none !important;
	outline:none;
}
a:hover{
/*color:#f97626 !important;*/
text-decoration:underline !important;
}
/* Used to stop float properties from cascading in IE ------------------------------------ */
.breaker{
	clear:both;
	float:none;
	line-height:0pt;
	font-size:0px;
	padding:0px;
	margin:0px;
	height:0px;
	visibility:visible;
	border:0px solid red;
}
#noscript{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FFF;
	text-align:center;
	margin:10px 0px 10px 0px;
	width:100%;
}
/* Layout ------------------------------------ */
#container {
	position:relative;
	margin: 0px auto 0px auto;
	padding:0px 10px 0px 10px;
	width: 940px;
}
/* Logo and Nav Holder ------------------------------------ */
#header{
	font-family: MuseoSans500;
	width: 960px;
	height:102px;
	margin:0px auto 25px auto;
	padding:0px 0px 0px 0px;
	background-image: url(/interface/images/hh11_divider.png);
	background-repeat:no-repeat;
	background-position:center bottom;
}
/* Hothouse Logo ------------------------------------ */
#logo{
	width:176px;
	height:60px;
	float:left;
	margin:22px 0px 0px 0px;
	background-image: url(/interface/images/hh11_logo.png);
	background-repeat:no-repeat;
	background-position: 10px center;
}
/* Main Site Nav ------------------------------------ */
#navigation{
	float:right;
	background-repeat:repeat-x;
	padding:25px 0px 0px 0px;
	margin:31px 0px 0px 0px;
	background-image: url(/interface/images/hh11_nav_graphic.png);
	background-repeat:no-repeat;
	background-position:left top;
	width:611px;
}
#navigation a{
	font-size:12px;
	float:left;
	display:block;
	text-align:center;
	padding:0px 11px 0px 0px;
	margin:0px 13px 0px 0px;
	border-right:1px solid #f97626;
	text-transform:uppercase;
}
#navigation a:last-child{
	border:0px;
}
#navigation a:hover{
	color:#bcdfcc !important;
	text-decoration:none !important;
}
#mm_client-login{
	padding-right:0px !important;
	margin-right:0px !important;
	border:0px !important;
}
/* Section Sub Nav ------------------------------------ */
#about_subnavigation,#sectionSubNav,#sectionSubNavClients{
	font-family: MuseoSans500;
	width:100%;
	padding:0px 0px 10px 0px;
	margin:0px auto 0px auto;
}
#sectionSubNav,#sectionSubNavClients{
	background-image:url(/interface/images/hh11_divider.png);
	background-position:left top;
	background-repeat:no-repeat;
}
#about_subnavigation a,#sectionSubNav a, #sectionSubNav span, #sectionSubNavClients a{
	font-size:13px;
	float:left;
	display:block;
	text-align:center;
	padding:0px 11px 0px 11px;
	margin:0px 0px 0px 0px;
	border-right:1px solid #f97626;
	text-transform:uppercase;
}
#about_subnavigation a:last-child{
	border:0px !important;
}
#about_subnavigation{
	float:right;
	width:150px;
	margin-top:20px;
}
#sectionSubNav a, #sectionSubNav span, #sectionSubNavClients a{
	font-size:11px !important;
	text-align:left;
	padding:0px 11px 0px 11px;
	margin:15px 0px 0px 0px;
	border-right:1px solid #f97626;
}
/* Top navigation selected ------------------------------------ */
.selectedMain{
	color:#bcdfcc !important;
}
/* 1st level sub-navigation selected ------------------------------------ */
.selectedSub{
	background-color:#f97626 !important;
	color:#FFF !important;
}
/* 2nd level sub-navigation selected ------------------------------------ */
.selectedButn{
	/*background-color: #ff00b4;*/
	background-color:#f97626 !important;
	color:#FFF !important;
}
/* Content Holder ------------------------------------ */
#content {
	margin: 0px;
	padding:20px 0px 20px 0px;
}
/* Show Case Area Preloader ------------------------------------ */
#homeLoader{
	position:absolute;
	top:0px;
	left:0px;
	text-align:center;
	width:934px;
	height:343px;
	border:0px solid red;
	padding-top:0px;
	z-index:19;
	font-size:10px;
	text-transform:uppercase;
	
	background-image:url(/interface/images/loading_icon.gif);
	background-repeat:no-repeat;
	background-position:center center;
}
/* Case Study Preloader ------------------------------------ */
.workloader{
	width:60px;
	height:500px;
	width:100%;
	background-image:url(/interface/images/loading_icon.gif);
	background-repeat:no-repeat;
	background-position:center center;
	margin:30px auto 0px auto;
}
/* Background of Hero Images on Home Page ------------------------------------ */
#showcaseBack{
	position:relative;
	width:934px;
	height:343px;
	clip: rect(0px, 934px, 343px, 0px);
	overflow:hidden;
	border: 5px solid #6b696a;
	background-image:url(/interface/images/hh11_showcase_blank.jpg);
}
/* Each Hero Image Class ------------------------------------ */
.showcaseArea{
	position:absolute;
	display:block;
	top:0px;
	left:0px;
	width:934px;
	height:343px;
	background-position: right top;
	background-repeat:no-repeat;
	font-family: MuseoSans500;
	visibility:hidden;
	text-decoration:none !important;
	color:#FFF;
}
/* Showcase Next and Previous Arrows in Lower right ------------------------------------ */
#showNext, #showPrev{
	position:absolute;
	display:none;
	width:56px;
	height:56px;
	top:140px;
	background-image:url(/interface/images/hh11_shownextprev.png);
	background-repeat:no-repeat;
}
#showNext{
	background-position:-134px top;
	width:62px;
	z-index:1200;
	left:880px;
}
#showPrev{
	background-position:5px top;
	z-index:1201;
	width:62px;
	left:20px;
}
.showCoverHolder{
	position:absolute;
	display:none;
	width:934px;
	height:343px;
	text-decoration:none !important;
	outline:0px;
}
/* Show More Text on Showcase Area Rollover ------------------------------------ */
.showcaseCoverText{
	position:absolute;
	display:block;
	text-align:center;
	font-size:8em;
	width:619px;
	height:343px;
	color:#FFF;
	z-index:2;
	left:157px;
	top:0px;
	
	
	background-image:url(/interface/images/hh11_text_more.png);
	background-position:center -100px;
	background-repeat:no-repeat;
		
	/*text-shadow: 0px 0px 15px rgba(0, 0, 0, 1);*/
}
.showcaseArea:hover{
	text-decoration:none !important;
}
/* Green Color Over Showcase Area Rollover ------------------------------------ */
.showcaseCover{
	position:absolute;
	display:none;
	width:934px;
	height:343px;
	/*background-color:#bcdfcc;*/
	background-color:#66766d;
	z-index:1;
	
	filter: alpha(opacity=95);
	-moz-opacity:0.95;
	opacity: 0.95;
	
}
/* Left and Right Side Arrows on Showcase Image Rollover ------------------------------------ */
#showcaseOverPrev span, #showcaseOverNext span{
	display:none;
}
#showcaseOverPrev, #showcaseOverNext{
	top:314px;
	display:block;
	width:30px;
	height:28px;
	background-repeat:no-repeat;
	background-position: left top;
	position:absolute;
}
#showcaseOverPrev{
	z-index:21;
	left: 870px;
	background-image:url(/interface/images/butn_prev.png);
}
#showcaseOverNext{
	z-index:22;
	left: 905px;
	background-image:url(/interface/images/butn_next.png);
}
/* Descriptive Text Just Below Hero Imageryon Home Page ------------------------------------ */
#homeinfo{
	font-family:MuseoSans500 !important;
	width:934px;
	font-size: 26px;
	line-height:21pt; 
	position:relative;
	padding:0px 20px 0px 0px;
	margin:30px 0px 20px 0px;
	display:none;
}
#homeinfo h1{
	font-size:2.1em;
	line-height:normal;
	margin:0px 0px 15px 0px;
	color:#bcdfcc;
}
#homeinfo span{
	color:#f97626;
	font-variant:normal !important;
}
#homeMore{
	display:block;
	font-size:14px;
	line-height:12pt;
	
	float:right;
	position:relative;
	top:5px;
	
	width:380px;
	height:30px;
	padding:2px 20px 0px 0px;
	color:#ff7812 !important;
	text-align:right;
	
	background-image: url(/interface/images/homemore_backgrnd.png);
	background-repeat:no-repeat;
	background-position:right top;
	
}
/* Home Page News and Work Section Areas ------------------------------------ */
/* News, Work, Clients and People all use styles specified below  ------------------------------------ */
#homeNews,#workArea{
	margin:30px auto 0px auto;
	padding:32px 0px 50px 25px;
	background-image:url(/interface/images/hh11_backgrnd_front.jpg);
	background-repeat:no-repeat;
	background-position:center top;
	border:0px solid red;
}
#homeNews{
	margin-top:5px;
}
#homeNews{
	padding-top:22px;
	width:919px;
}
/* Home Page News ------------------------------------ */
#newsTitle{
	font-size:2.1em;
	line-height:normal;
	font-family:MuseoSans500 !important;
	padding:0px 0px 0px 0px;
	margin:0px 0px 30px 0px;
	color:#bcdfcc;
}
.newsColumn b{
	display:block;
	margin:2px 0px 2px 0px;
}
.newsColumn a{
	margin-left:5px;
}
.newsColumn,.workColumn{
	float:left;
	width:255px;
	padding: 0px 22px 0px 0px;
	margin: 0px 22px 0px 0px;
	font-size:.8em;
	border-right:1px dotted #666;
	line-height:1.6em;
}
.newsColumn a,.workColumn a{
	display:block;	
	color:#f97626 !important;
	padding:0px !important;
	margin:0px !important;
	text-transform:lowercase;
}
.newsColumn span,.workColumn span{
	display:block;
	font-size: 15px;
	color:#f97626 !important;
	margin:0px 0px 8px 0px;
}
.newsColumn span{
	margin:8px 0px 0px 0px;
}
/* Work Section ------------------------------------ */
#workArea{
	background-image:none !important;
	padding:0px 0px 50px 0px;
}
.workSeparator{
	height:30px;
	width:870px;
	margin:0px 0px 20px 0px;
	background-image:url(/interface/images/hh11_divider.png);
	background-position:center 25px;
	background-repeat:no-repeat;
}
.workColumn{
		border:0px;
		padding: 0px 0px 0px 12px;
		margin: 0px 30px 0px 0px;
}
.workColumn a{
	position:relative;
	width:257px;
	height:168px;
}
.workColumn a img{
	position:absolute;
	z-index:1;
}
.workColumn a .cover{
	position:absolute;
	z-index:2;
	width:257px;
	height:168px;
	background-color:#bcdfcc;
	display:none;
}
.workColumn a .logocover{
	float:none !important;
	display:block;
	background-repeat:no-repeat;
	width:257px;
	height:168px;
	border:1px solid red;
	background-color:transparent;
	background-position: 0px 0px;
}
.workColumn span{
	color:#f97626 !important;
	font-size:10px;
	
}
.workColumn span em{
	color:#acabac !important;
	font-style:normal;
}
.workColumn span i{
	color:#4e4e4e !important;
	font-style:normal;
}
/* Work Section FIlter Properties ------------------------------------ */
.filterTitle{
	border:none !important;
	border:1px solid #242021;
}
.filterSelected,#f-all-work{
	background-color:#242021;
	width:200px;
	border:none !important;
	margin-right:10px !important;
	border:1px solid #514d50 !important;
}
#f-all-work{
	width:100px !important;
	border:1px solid #242021;
	background-image:none;
}
.filterSelected{
	color:#acabac !important;
	background-image:url(/interface/images/dropdown_arrows.png);
	background-repeat:no-repeat;
	background-position: 206px -596px;
}
#filtdrop{
	background-image:url(/interface/images/dropdown_arrows.png);
	background-repeat:no-repeat;
	background-position: 206px 6px;
}
.filterArrowUp{
	background-position: 206px 6px;
}
.filterdrop{
	display:none;
	position:absolute;
	z-index:800;
	background-color:#242021;
	padding-bottom:8px;
	border:1px solid #514d50;
}
.filterdrop a,.filterdrop span{
	width:200px;
	float:none !important;
	display:block;
	margin:0px  !important;
	border:none !important;
	padding:0px 11px 0px 11px !important;
	color:#acabac !important;
}
.filterdrop a:hover{
	color: #f97626 !important;	
}
.filterSelect{
	color: #f97626 !important;	
}
#newssubmit{
	width:50px;
	text-align:center !important;
	background-color:#8d8d8d;
	color: #ffffff !important;
	border:1px solid #8d8d8d !important;
}
/* See More Overlay in Client Sections ------------------------------------ */
#clientPointer{
	font-family: MuseoSans500;
	letter-spacing: 2px;
	position:absolute;
	top:0px;
	left:0px;
	color:#f97626;
	text-transform:uppercase;
	font-size:10px;
	text-align:center;
	width:100px;
	height:24px;
	z-index:700;
	display:none;
	padding:3px 0px 0px 0px;
	background-image:url(/interface/images/hh11_backgrnd_arrow_v2.png);
	background-position:left top;
	background-repeat:no-repeat;
}
.clients{
	font-size:16px;
	line-height:16pt;
	font-family:MuseoSans500 !important;
}
.clients ul{
	float: left;
	width:220px;
	height:450px;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 60px;
}
.clients li{
	padding-top:10px;
}
/* People Section ------------------------------------ */
.employeeTitle{
	color:#acabac;
	font-size:.6em;
}
.employeeTitle i{
	color:#4e4e4e !important;
	font-style:normal;
}
.employeeTitleSmall{
	color:#acabac;
	font-size:12px !important;
}
.employeeTitleSmall span{
	margin:8px 0px 0px 0px;
	font-size:12px !important;
}
/* Generla Content Definitions ------------------------------------ */
#pageTitle{
	font-family: MuseoSans500;
	font-size:3em;
	line-height:normal;
	padding:0px 0px 0px 0px;
	margin:10px 0px 0px 0px;
}
#postTitleDate{
	font-size:11px;
	font-family: MuseoSans500;
	margin:0px 0px 10px 0px;
	padding:0px;
}
#postTitle{
	font-family: MuseoSans500;
	font-size:2em;
	line-height:normal;
	margin:0px 0px 0px 0px;
	color:#f97626;
}
/* Content Area Holders for expertise, Work, and General section contents ------------------------------------ */
/* Each Above use some of the same style definitions ------------------------------------ */
 
#sectionContent,#workContent,#expertContent{
	float:left;
	width:890px;
	padding:20px 20px 20px 30px;
	margin:0px;
	background-image:url(/interface/images/hh11_backgrnd_interior.jpg);
	background-position:left top;
	background-repeat:repeat-x;
	background-color:#242022;
}
#staffContent{
	width:840px;
	padding:30px 0px 20px 30px;
	margin:0px;
	border:0px solid red;
}
#sectionContent strong,#sectionContent b,#staffContent b, #staffContent strong{
	font-family: MuseoSans500;
	font-weight: normal;
	color:#f97626;
}
#sectionContent img, #staffContent img{
float:left;
padding:0px 40px 20px 0px;
}
#staffContent img{
margin-bottom:100px;
}
#sectionContent p,.caseColumn p, #staffContent p{
	margin:5px 0px 20px 0px !important;
	padding:0px !important;
}
.sectionColumn{
	padding-right:30px;
}
/* expertise section content ------------------------------------ */
#expertContent{
	font-size:16px;
	line-height:18pt;
	height:800px;
	padding-right:20px;
}
#expertNav{
	font-family: MuseoSans500;
	font-size:12px;
	line-height:12pt;
	width:200px;
	float:left;
	margin-right:20px;
	margin-top:10px;
}
#expertNav .selectedButn{
	background-color:transparent !important;
}
#expertNav a, #expertNav span{
	display:block;
	text-decoration:none;
}
#expertNav a:hover{
	text-decoration:none;
}
#expertNav span{
	text-align:right;
	padding:10px 8px 5px 5px;
	background-position:left top;
	background-repeat:no-repeat;
	border-top:1px solid #444;
}
#digital{background-image:url(/interface/images/backgrnd_expert_digital.png);}
#promotions{background-image:url(/interface/images/backgrnd_expert_promotions.png);}
#entertainment{background-image:url(/interface/images/backgrnd_expert_entertainment.png);}
#sports-marketing{background-image:url(/interface/images/backgrnd_expert_sports-marketing.png);}
#retailshopper-marketing{background-image:url(/interface/images/backgrnd_expert_retailshopper-marketing.png);}
#travel-tourism{background-image:url(/interface/images/backgrnd_expert_tourism.png);}
#social-mobile{background-image:url(/interface/images/backgrnd_expert_social-mobile.png);}
#experiential{background-image:url(/interface/images/backgrnd_expert_experiential.png);}
#pro-social{background-image:url(/interface/images/backgrnd_expert_pro-social.png);}
#introduction{background-image:url(/interface/images/backgrnd_expert_intro.png);}
#expertNav a:last-child{
	border-bottom:1px solid #444;
}
#expertContent h1{
	margin:0px;
	font-size:1.5em;
	padding:13px 0px 0px 40px;
	height:45px;
	margin-bottom:10px;
	background-image:url(/interface/images/hh11_backgrnd_exp_title.jpg);
	background-repeat:no-repeat;
	background-position:left top;
}
#expertContent h3{
	color:#000;
	font-size:1.5em;
}
#expertContent b{
	color:#f97626;
}
#expertContent img{
	display:block;
	float:none;
	margin:0px;
	padding:10px 0px 0px 0px;
}
#expertContent h1 ~ p{
	padding:0px 30px 0px 40px;
}
.expertColumn{
	float:left;
	width:651px;
}
/* Work  section content ------------------------------------ */
#workContent{
	width:910px;
	padding:0px 0px 20px 30px !important;
}
#preloadArea{
	display:none;
}
#caseimagearea{
	position:relative;
	width:550px;
	height:630px;
	float:left;
	overflow:hidden;
	margin:0px 40px 0px 0px;
	border:0px solid red;
}
#caseNext,#casePrev{
	position:absolute;
	display:none;
	width:50px;
	height:50px;
	top:275px;
	background-image:url(/interface/images/hh11_next_prev.png);
	background-repeat:no-repeat;
}
#caseNext{
	background-position:-65px top;
	z-index:20;
	left:495px;
}
	
#casePrev{
	background-position:left top;
	z-index:21;
	left:5px;
}
#casestudyimage{
	position:absolute;
	display:block;
	text-decoration:none;
	outline:none;
	width:550px;
	height:600px;
	border:0px solid red;
}
#casestudyimage:hover{
	text-decoration:none !important;
}
#caselabel{
	font-family: MuseoSans500;
	font-size:1.2em;
	position:absolute;
	z-index:10;
	display:none;
	top:0px;
	left:0px;
	padding:0px;
	width:500px;
}
#casestudynav{
	position:absolute;
	z-index:20;
	top:0px;
	border:0px solid red;
}
#showcasenav{
	height:42px;
	border:0px solid red;
	text-align:center;
	width:944px;
	background-image:url(/interface/images/nav_showcase_back_2012.jpg);
	background-position:left top;
	background-repeat:repeat-x;
}
#shownavholder{
	margin:0px auto 0px auto;
	padding-top:8px;
	border:0px solid red;
}
.showcasebutn{
	float:left;
	height:32px;
	width:32px;
	margin-left:7px;
	background-image:url(/interface/images/nav_showcase_2012.png);
	background-position:-128px top;
	background-repeat:no-repeat;
	overflow:hidden;
	outline:none;
	border:0px solid red;
}
#showNextNav{
	background-image:url(/interface/images/nav_showcase_2012.png);
	background-position:-192px top;
	background-repeat:no-repeat;
}
#showPrevNav{
	background-image:url(/interface/images/nav_showcase_2012.png);
	background-position:0px top;
	background-repeat:no-repeat;
}
.casebutn{
	float:left;
	height:32px;
	width:32px;
	margin-right:7px;
	overflow:hidden;
	background-image:url(/interface/images/nav_showcase_2012.png);
	background-position:-128px top;
	background-repeat:no-repeat;
	outline:none;
}
.caseColumn{
	width:280px;
	float:left;
	font-size:13px;
	line-height:14pt;
}
.caseColumn h1{
	margin-top:0px !important;
	font-size:24px;
	line-height:25pt;
}
.caseColumn span{
		margin-top:30px !important;
		display:block;
		font-family: MuseoSans500;
		font-size: 15px;
		color:#acabac !important;
}
#casestudyimage img{
	position:absolute;
	top:35px;
	display:none;
	z-index:8;
}
.caseScroll{
	
}
.caseScrollable,.newsCaseScrollable{
	width:280px;
	padding-right:10px;
	height:500px;
	overflow-x: hidden;
	overflow-y:scroll;
	-webkit-overflow-scrolling:touch;
}

.newsCaseScrollable{
	width: auto !important;
	height:465px;
}

#flipbook{
	position:absolute;
	display:block;
	z-index:8;
	top:25px;
}
#videoarea{
	position:absolute;
	top:25px;
	display:block;
	z-index:8;
	background-color:#000;
	background-repeat:no-repeat;
	background-position:center center;
}
#flashBack{
	position:absolute;
	top:35px;
	width:550px;
	height:550px;
	background-image:url(/interface/images/hh11_backgrnd_flash.gif);
	z-index:7;
	display:block;
	/*
	-moz-border-radius: 25px;
	border-radius: 25px;
	*/
	
}
#flasharea{
	position:absolute;
	top:25px;
	display:block;
	z-index:8;
	margin:0px auto 0px auto;
	-moz-box-shadow: 0px 0px 30px #000;
	-webkit-box-shadow: 0px 0px 30px #000;
	box-shadow: 0px 0px 30px #000;
	background-position:left top;
	background-repeat:no-repeat;
}
/* Slide Show to Insert into Post ------------------------------------ */
#slideshow{
	position:relative;
	padding:0px;
	margin:0px;
}
#slideshow img{
	position:absolute;
	display:none;
}
 
/* Bottom of Page ------------------------------------ */
.topButton{
	width:870px;
	display:block;
	text-align:right;
	border:0px solid red;
	padding:0px 0px 10px 0px;
	margin:10px 0px 20px 0px;
	font-size:10px;
	text-transform:uppercase;
}
#footer {
	clear: both;
	width: 894px;
	margin:0px auto 20px auto;
	font-size:10px;
	padding:13px 0px 60px 0px;
	background-image:url(/interface/images/hh11_divider.png);
	background-position:center top;
	background-repeat:no-repeat;
}
#footer a{
	color:#f97626 !important;
	margin-right:10px;
	padding-right:10px;
	border-right:1px solid #f97626;
}
#footer-links{
	float:left;
	width:500px;
}
#footer-links a:last-child{
	border:0px;
}
#footer-address{
	float:right;
	width:350px;
	text-align:right;
	padding:0px;
	border:0px solid red;
	color:#979797 !important;
}
#footer-address p{
	margin:0px;
	padding:0px;
}